.products-page {
  @include productPagePadding;

  &__main {
    padding-top: 70px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__pagination {
    margin-top: 24px;

    @include on-tablet {
      margin-top: 40px;
    }
  }
}