@import '../../styles/main.scss';

* {
  box-sizing: border-box;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  column-gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, 32px);
  }
  
  &__title {
    @include title-1;
    grid-column: span 4;
    margin-bottom: 32px;
    
    @media (min-width: 640px) {
      grid-column: span 12;
      margin-bottom: 40px;
    }

    @media (min-width: 1200px) {
      grid-column: span 24;
    }
  }

  &__image {
    grid-column: span 4;
    justify-self: center;

    @media (min-width: 640px) {
      grid-column: 3 / 7;
    }

    @media (min-width: 1200px) {
      grid-column: 4 / 12;
    }

    &__primary {
      max-width: 288px;
      max-height: 288px;
      height: auto;
      object-fit: contain;
      margin-bottom: 16px;

      @media (min-width: 1200px) {
        max-width: 464px;
        max-height: 464px;
      }
    }

  }

  &__image__thumbnails {
    grid-column: span 4;
    justify-self: center;
    display: flex;
    gap: 8px;
    margin-bottom: 40px;

    @media (min-width: 640px) {
      grid-column: span 1;
      grid-row: 2 / 3;
      flex-direction: column;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      grid-column: span 2;
      grid-row: 2 / 3;
      flex-direction: column;
      gap: 16px;
    }

    &__thumbnail {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      object-fit: contain;
      cursor: pointer;
      border: 1px solid var(--color-elements);
      transition: transform 0.2s, border-color 0.3s;

      @media (min-width: 1200px) {
        width: 80px;
        height: 80px;
      }

      &:hover {
        transform: scale(1.1);
        border-color: var(--color-primary);
      }

      &--active {
        border-color: var(--color-primary);
        box-shadow: 0 0 5px var(--color-primary);
      }
    }
  }

  &__details {
    grid-column: span 4;

    @media (min-width: 640px) {
      grid-column: 8 / 13;
      grid-row: 2 / 3;
    }

    @media (min-width: 1200px) {
      grid-column: 14 / 21;
      grid-row: 2 / 3;
    }
  }

  &__colors {
    &__title {
      @include small-text;
      margin-bottom: 10px;
    }

    &__palette {
      display: flex;
      gap: 8px;
      margin-bottom: 20px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--color-elements);
    }

    &__circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s, border-color 0.3s;
      border: 1px solid var(--color-elements);
      box-shadow: 0 0 0 2px var(--color-background) inset;
    }

    &__circle:hover {
      transform: scale(1.1);
      border: 1px solid var(--color-primary);
    }

    &__circle--active {
      border: 2px solid var(--color-primary);
    }
  }

  &__capacity {
    text-align: center;
    margin-bottom: 32px;

    @include on-tablet {
      text-align: left;
      margin-top: 0;
    }

    &__title {
      @include small-text;
      padding-bottom: 8px;
      text-align: left;
    }

    &__blocks {
      display: flex;
      gap: 8px;
      border-bottom: 1px solid #E2E6E9;
      padding-bottom: 24px;
    }

    &__block {
      @include body-text;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-background);
      border: 2px solid var(--color-surface);
      color: var(--color-primary);
      box-sizing: border-box;
      width: 63px;
      height: 32px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    &__block:hover {
      background-color: var(--color-primary);
      color: var(--color-background);
      border: none;
    }

    &__block--active {
      background-color: var(--color-primary);
      color: var(--color-background);
      border: none;
    }
  }

  &__prices {
    font-size: 22px;
    position: relative;
    text-align: left;
    margin-bottom: 16px;

    &::after {
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--color-elements);
      margin-bottom: 8px;
      position: absolute;
      bottom: -16px;
    }

    &-discount {
      color: var(--color-primary);
      font-weight: 800;
      margin-right: 8px;
    }

    &-full {
      color: var(--color-secondary);
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-thickness: 1px;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__about {
    
    margin-top: 55px;
    grid-column: span 4;

    @media (min-width: 640px) {
      grid-column: span 12;
      margin-top: 64px;
    }

    @media (min-width: 1200px) {
      grid-column: span 13;
      margin-top: 64px;
    }
  }

  &__tech-specs-full {
    grid-column: span 4;

    @media (min-width: 640px) {
      grid-column: span 12;
      margin-top: 64px;
    }

    @media (min-width: 1200px) {
      grid-column: 15 / 24;
      margin-top: 64px;
    }
  }
}
