@import '../../styles/main.scss';

.burger {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e2e6e9;
  }

  &__logo {
    padding: 13px 16px;
  }

  &__close {
    background: transparent;
    height: 48px;
    width: 48px;
    border-left: 1px solid #e2e6e9;
  }

  &__nav {
    flex: 1 1 auto;
  }

  &__bottom {
    display: flex;
    height: 64px;
  }

  &__icon {
    flex: 1;
    border: 1px solid #e2e6e9;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__item {
    height: 27px;

    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    @include uppercase-text;
  }
}
