@import './utils/variables';
@import './utils/mixins';
@import './utils/fonts';

html {
  font-family: Mont, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
}


ul, li, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}
