.color-and-capacity {
  text-align: center;
  margin-top: 50px;

  &__title {
    color: #89939a;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  &__color-palette {
    display: flex;
    margin-bottom: 20px;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition:
      transform 0.2s,
      border-color 0.3s;
    border: 1px solid #e2e6e9;
    box-shadow: 0 0 0 2px #fff inset;
  }

  &__color-circle:hover {
    transform: scale(1.1);
    border: 1px solid #0f0f11;
  }

  &__capacity-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__capacity-title {
    color: #89939a;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  &__capacity-blocks {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__capacity-block {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    
    background-color: #fff;
    border: 2px solid #b4bdc3;
    color: #0f0f11;
    
    box-sizing: border-box;
    width: 63px;
    height: 32px;
    border-radius: 4px;

    
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;
    
  }

  &__capacity-block:hover {
    background-color: #0f0f11;
    color: #fff;
    border: none;
  }

  &__capacity-block--active {
    background-color: #0f0f11;
    color: #fff;
    border: none;
  }
}
