$tablet-min-width: 640px;
$desktop-min-width: 1200px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;

   &__img {
    display: block;
    width: 64px;
    height: 22px;

    @include on-desktop {
      width: 80px;
      height: 28px;
    }
  }
}
