@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';

.favourites {
  padding-bottom: 56px;

  @include on-tablet {
    padding-bottom: 64px;
  }

  @include on-desktop {
    padding-bottom: 80px;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    &--text {
      @include small-text;
      line-height: 12px;
    }
  }

  &__title {
    @include title-1;
    margin-bottom: 8px;
  }

  &__count {
    @include body-text;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px 16px;
  }
}

.item {
  display: flex;
  justify-content: center;
}
