@import '../../styles/main.scss';

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @include on-tablet {
      flex-direction: row;
      gap: 32px;
      height: 100%;
    }

    @include on-desktop {
      gap: 64px;
    }
  }

  &__item {
    display: flex;
    position: relative;
    height: 27px;

    align-items: center;

    @include on-tablet {
    height: 100%;     
    }

    @include on-desktop {
      height: 64px;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    @include uppercase-text;

   

    &:hover {
      color: var(--color-primary);
    }
  }
}

.is-active {
  color: var(--color-primary);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: var(--color-primary); 

    @include on-tablet {
      height: 3px;
    }
  }
}
