@import '../../styles/main.scss';

.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    list-style: none;

    @include on-tablet {
      flex-direction: row;
      gap: 32px;
    }

    @include on-desktop {
      gap: 64px;
    }
  }

  &__item {
    position: relative;
    height: 27px;

    align-items: center;
  }
  &__link {
    text-decoration: none;
    @include uppercase-text;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.is-active {
  color: var(--color-primary);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: var(--color-primary);
  }
}
