$breakpoint-tablet: 640px;
$breakpoint-desktop: 1200px;
:root {
   --color-background: #fff;
   --color-surface: #B4BDC3;
   --color-primary: #313237;
   --color-secondary: #89939A;
   --color-icon: #fff;
   --color-elements: #E2E6E9;
   --color-hover: #FAFBFC;
   --color-button: #216CFF;
}

