$breakpoint-tablet: 640px;
$breakpoint-desktop: 1200px;

$effect-duration: 0.3s;
:root {
   --color-accent: #216CFF;
   --color-secondary-accent:#F447AF;

   --color-background: #fff;
   --color-surface: #B4BDC3;
   --color-primary: #0F0F11;
   --color-secondary: #89939A;
   --color-icon:#0F0F11;
   --color-elements: #E2E6E9;
   --color-hover: #FAFBFC;
   --color-button: #216CFF;


   --spacing-small: 20px;
   --spacing-medium: 24px;
   --spacing-large: 64px;
   --hover-shadow-color: 0 2px 16px 0 #0000001A;
}

