
@import '../../styles/main.scss';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spacing-medium);

  &__left {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
  }

  &__nav {
    display: flex;
    gap: var(--spacing-large);
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);

    &--wrapper {
      display: flex;
      align-items: center;
      position: relative;

      .icon--favourites {
        margin-right: var(--spacing-small);
      }

      .icon--favourites::before,
      .icon--favourites::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        z-index: -1;
      }

      .icon--favourites::before {
        left: 0;
      }

      .icon--favourites::after {
        right: 0;
      }
    }
  }
}

.nav__list {
  display: flex;
  gap: var(--spacing-large);
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 11px;

  &:hover,
  &.is-active {
    color: var(--color-primary);
  }
}

.is-active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform .3s;
  display: block;
  z-index: 1;

  &--favourites {
    background-image: url(../../images/favourites.svg);
  }

  &--cart {
    background-image: url(../../images/cart.svg);
  }

  &--burgerMenu {
    display: none;
  }
}


@media (max-width: 640px) {
  .header__nav,
  .header__icons {
    display: none;
  }

  .icon--burgerMenu {
    display: block;
  }
}
