// Spacing
$spacing-small: 20px;
$spacing-medium: 24px;
$spacing-large: 64px;

// Font
$font-size: 12px;
$line-height: 11px;

// Colors
$color-text-primary: #313237;
$color-text-secondary: #89939A;
$color-background-active: #313237;

// Indicator
$indicator-height: 4px;
$indicator-radius: 8px;

// Icon
$icon-size: 16px;

// Breakpoints
$breakpoint-extra-small: 320px;
