.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--color-elements);
  box-shadow: 0 -1px 0 0 var(--color-elements);

  background-color: var(--color-background);

  @include on-tablet {
    height: 96px;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 16px;
  gap: 32px;

  @include on-tablet {
    @include section-grid;

    align-items: center;
    justify-content: center;
  }
}

.logoLink {
  display: flex;
  width: 100%;
  align-items: center;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-desktop {
    grid-column: span 8;
  }
}

.logo {
  width: 89px;
  height: 32px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include on-tablet {
    grid-column: span 4;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  @include on-desktop {
    grid-column: span 8;
  }
}

.item {
  font-family: Mont, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-secondary);

  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include on-tablet {
    justify-content: flex-end;
    grid-column: span 4;
  }

  @include on-desktop {
    grid-column: span 8;
  }
}

.backToTopText {
  font-family: Mont, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.34px;
  letter-spacing: 0;
  color: var(--color-secondary);
  text-decoration: none;
  margin-right: 16px;
}

.backToTopButton {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: var(--color-icons);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;

  &:hover {
    border: 1px solid #0f0f11;
    border-radius: 50%;
  }
}
