.tech-specs {
  &__title {
    color: var(--color-primary);
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 22px;
    line-height: 31px;
    border-bottom: 1px solid #E2E6E9;
    padding-bottom: 16px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__labels {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__values {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__labels span {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__values span {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
}
