.info-buttons {
  display: flex;
  height: 64px;

  @include on-tablet {
    height: 100%;
  }

  &__link {
    flex: 1;
    outline: 1px solid var(--color-elements);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include on-tablet {
      width: var(--hight-header-mobile);
      height: 100%;
    }

    @include on-desktop {
      width: var(--hight-header-desktop);
    }
  }
}

.is-active {
  color: var(--color-primary);
  @include active-link-underline;
}
