@import '../../styles/main.scss';

.info-buttons {
   display: flex;
   height: 64px;

   @include on-tablet {
      height: 100%;
   }

   &__icon {
      flex: 1;
      outline: 1px solid var(--color-elements);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include on-tablet {
         width: var(--hight-header-mobile);
      }

      @include on-desktop {
         width: var(--hight-header-desktop);
      }
   }

   &__link {
      display: flex;
   }
}

.count {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   border: 1px solid var(--color-secondary-accent);
   background-color: var(--color-secondary-accent);
   top: 12px; 
   right: 13px; 

}

.countText {
   color: var(--color-background);
   font-size: 9px;
   font-weight: 700;
   line-height: 11.5px;
   text-align: center;
}
