.info-buttons {
 display: flex;
  height: 64px;

  @include on-tablet {
    height: 100%;
  }

  &__link {
    flex: 1;
    outline: 1px solid var(--color-elements);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include on-tablet {
      width: var(--hight-header-mobile);
      height: 100%;
    }

    @include on-desktop {
      width: var(--hight-header-desktop);
    }
  }
}

.is-active {
  color: var(--color-primary);
  @include active-link-underline;
}
  
 .count {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   border: 1px solid var(--color-background);
   background-color: var(--color-secondary-accent);
   transform: translate(50%, -50%);
 }

.countText {
   color: var(--color-background);
   font-size: 9px;
   font-weight: 700;
   text-align: center;
}