

.about {
  font-family: Mont;
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span 12;
  }

  &__title {
    @include title-3;
    
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 22px;
    line-height: 31px;
    border-bottom: 1px solid #E2E6E9;
    padding-bottom: 16px;
  }

  &__paragraph {
    &-title {
      @include title-4;

      margin-bottom: 32px;
    }

    &-body {
      @include body-text;

      font-weight: 400;
      margin-bottom: 32px;
    }
  }
}
