@import '../../styles/utils/mixins';

.cartIsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;

  &__message {
    font-size: 24px;
    font-weight: 700;
  }

  &__advice {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
  }

  &__img {
    width: 100%;
    max-width: 300px;
  }
}
